.text-focus-in-enter-active {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

@keyframes text-focus-in {
  0% {
    filter: blur(0.75em);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    opacity: 1;
  }
}
