// This file is only to apply styles on
// html, body or global html tags
// stylelint-disable-next-line
.app-container {
  background: var(--main-color-background);
  color: var(--dark-color);
  font-family: var(--main-font), var(--main-font-default);
  font-size: 1.15rem;
}
// stylelint-disable-next-line
body {
  margin: 0;
}
