// This file is only to apply styles on
// html, body or global html tags
html {
  background: $main-color-background;
  color: $main-color;
}

body {
  font-family: $main-font, $main-font-default;
  font-size: 1.15rem;
  margin: 0;
}
