.button {
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 5px;
  background-color: $main-color;
  color: $main-color-dark;
  border: none;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $main-color-dark;
    color: $main-color;
  }

  &.is-secondary {
    background-color: $main-color-dark;
    color: $main-color;

    &:hover {
      background-color: $main-color-medium-light;
      color: $main-color-dark;
    }
  }

  &.is-extended {
    width: 100%;
    padding: 10px 14px;
  }
}
