@use "../variables/custom-variables.scss" as *;

.button {
  cursor: pointer;
  padding: 7px 14px;
  border-radius: 5px;
  background-color: $main-color-dark;
  color: $light-color-lighter;
  border: none;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  }

  &.is-secondary {
    background-color: $secondary-color;
    color: $light-color-lighter;

    &:hover {
      background-color: $main-color-medium-light;
      color: $main-color-dark;
    }
  }

  &.is-extended {
    width: 100%;
    padding: 10px 14px;
  }
}
