// ONLY IMPORT FILES THAT DO NOT GENERATE CSS AS OUTPUT
// e.g. variables, mixins, functions
// this will be imported in all scoped css files
@import 'variables/custom-variables';
@import 'mixins/all';
